/*  1.-Posicionamiento 
    2.- Modelo de caja (Box Model)
    3.- Tipografia
    4.- Visuales
    5.- Otros (Miscellanius)
*/

:root{
    
    --primary: #61c688;
    --primary5:rgba(97, 198, 136 , 0.5);
    --secondary: #1a1a1a ;
    --secondaryr9:rgba(26, 26, 26,0.9);
    --tertiary: #58dcbd;
    --white: #fff;
    
}

body{
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

* , *::after , *::before {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1,h2,h3,h4{
    margin: 0;
}

p{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--primary);
    overflow: hidden;
}

.header__title{
    display: none;
}

.header__logo {
    width: 150px;

}

.header__image {
    width: 150px;
}

.main{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(10 , 1fr);
    overflow: hidden;
    width: 100%;
    /* min-width: 1100px; */
    height: 85vh;
    background-color:var(--secondary);
}

.main__attempts {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--red); */
    /* border-radius: 5px; */
    overflow: hidden;
}

.attempts__title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary);
    
}

.attempts__paragraph{
    text-align: center;
    margin-right: 20px;
    font-size: 2rem;
    color: var(--primary);
}

.main__timer{
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--red); */
    /* border-radius: 5px; */
    overflow: hidden;
}

.timer__title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary);
}

.timer__numbers{
    font-size: 2rem;
    text-align: center;
    color: var(--primary);
}

.main__game-board{
    grid-column: 1 / 6;
    grid-row: 3 / 10;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    place-items: center;
    max-width: 900px;    
    perspective: 1000px;
}

.game-board__item{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d; 
    cursor: pointer;
    transition: all 0.5s ease-out;
    
}

.game-board__item--flip{
    transform: rotateY(180deg);
    transition: all 0.5s ease-out;
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    backface-visibility: hidden;
    pointer-events: none;
    overflow: hidden;
}

.face--back{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
    background-color: var(--tertiary);
    transform: rotateY(180deg);
}

.face--front{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--tertiary);
    background-color: var(--primary);
}

.face--front__imgf1{
    width: 80px;
}

.face--front__imgf2{
    width: 80px;
    transform: rotate(180deg)
}

.face--front__imgf3{
    width: 60px;
}
.face--back img{
    width: 55px;
    pointer-events: none;
}

.face--back p{
    text-transform:capitalize;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    pointer-events: none;
}

.main__message{
    display: none;
}


.loading-screen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.loading-screen--final{
    opacity: 0;
}

.loading-screen__left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color:var(--secondary);
    transition: transform 1s cubic-bezier(0,.45,.98,.64);
    

}

.loading-screen__left--move{
    transform: translateX(-100%);
}

.loading-screen__right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color:var(--secondary);
    transition: transform 1s cubic-bezier(0,.45,.98,.64);


}

.loading-screen__right--move {
    transform: translateX(100%);
}

.loading-screen__logo {

    position: absolute;
    top: 40px;
    left: calc(50% - 175px);
    width: 350px;
    animation: scaling 2s ease-in-out infinite ;
    opacity: 1;
    transition: all .5s ease-in-out;
}

@keyframes scaling {
    0%,100%{
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }
    
}
 
.loading-screen__logo--disappear {
    opacity: 0;
}

.loading-screen__spinner{
    position: absolute;
    left: calc(50% - 100px);
    top: calc(60% - 100px);
    width: 200px;
    height: 200px;
    border: 15px solid var(--primary);
    border-radius: 50%;
    border-left-color: var(--primary5);
    opacity: 1;
    animation: spin 1s linear infinite;
    transition: all .5s ease-in-out;
}

@keyframes spin {
    
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }

}

.loading-screen__spinner--off{
    
    opacity: 0;
}

.disabled {
    pointer-events: none;    
}

.result-screen{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--secondaryr9);
    
    
}

.result-screen--block{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-screen__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    border-radius: 10px;

}

.result-screen__article h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary);
}

.result-screen__article p{
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight:300;
    color: var(--primary);

}

.result-screen__article button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 300;
    background-color: var(--primary);
    color: var(--white);
    transition: all .9s ease;
}

.result-screen__article button i{
    font-size: 1.5rem;
    transform: rotate(0) scale(1);
    transition: all .9s ease;

}

.result-screen__article button:hover{

    background-color: var(--tertiary);
    color: var(--white);
    cursor: pointer;
}

.result-screen__article button:hover i{
    
    transform: rotate(180deg) scale(1.1);
    transition: all .5s ease;
    
}